
@import './colors';
	.productcontainer {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		width: 96%;
			left: 2%;

		.description {
			display: flex;
			flex-direction: column;
			align-items: start;
			width: 100%;
			height: 100%;
		

			h1 {
				font-size: 1.6rem;
				text-align: left;
				margin: 20px 0px;
			}

			h4 {
				margin: 10px 0px;
				text-align: left;
				border-bottom: 1px solid $black-color;
			}

			p {
				text-align: left;
				font-size: 0.9rem;
			}
		}

		.gallery {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-right: 10px;

			.mainphoto {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 10px;

				.galleryControl {
					position: absolute;
					border: none;
					background-color: transparent;
					cursor: pointer;
				}

				.subOne {
					left: 20px;
				}
				.addOne {
					right: 20px;
				}

				img {
					width: 100%;
				}
			}

			.navphoto {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 10px;

				button {
					width: 20%;
					border: none;
					cursor: pointer;
					position: relative;

					img {
						height: 100%;
						width: 100%;
					}
				}

				button::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 0;
					background-color: $gray-color-80transp;
				}

				button:hover {
					border: 1px solid $gray-color;
				}

				button:active::before {
					height: 100%;
				}
			}
		}
	}


@media (min-width: 768px) {
	.container {
		.productcontainer {
			flex-direction: row;
			.gallery {
				width: 50%;
				padding: 0px 5px;
			}
			.description {
				width: 50%;

				padding: 0px 5px;
				h1 {
					font-size: 1.6rem;
					margin: 0px 0px;
				}
				p {
					font-size: 0.8rem;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.container {
		.productcontainer {
			width: 90%;
			left: 5%;
			.gallery {
				padding: 0px 10px;
			}
			.description {
				padding: 0px 10px;
				h1 {
					font-size: 1.8rem;
					margin: 0px 0px;
				}
				p {
					font-size: 1rem;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.container {
		.productcontainer {
			width: 80%;
			left: 10%;
			
		}
	}
}
