@import './colors';
.SalesButtons {
	display: flex;
	margin: 20px 0px 20px 0px;
	justify-content: space-between;
    width: 100%;
	.ask {
		padding: 5px 10px;
		width: 45%;
		border: 3px solid $black-color;
		background-color: $black-color;
		color: $white-color;
		border-radius: 5px;
		font-size: 1rem;
		max-width: 200px;
		cursor: pointer;
	}
	.buy {
		padding: 5px 10px;
		width: 45%;
		max-width: 200px;
		border: 1px solid $black-color;
		background-color: $white-color;
		color: $black-color;
		border-radius: 5px;
		font-size: 1rem;
		cursor: pointer;
	}

	.buy:hover {
		border: 1px solid $orange-color;
		background-color: $orange-color;
		color: $white-color;
	}
}

@media (min-width: 992px) {
	.SalesButtons {
		justify-content: left;
		.ask {
			margin-right: 20px;
			width: 35%;
		}
		.buy {
			width: 35%;
		}
	}
}
