@import './styles/colors.scss';


* {
	position: relative;
	font-family: 'Rajdhani', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	box-align: center;
	scroll-behavior: smooth;
	text-align: center;	
}


